<div class="card">
  <header class="card-header">
    <div class="column">
      <a href="#" onclick="showMarker({{property.id}})">{{property.address}} </a></p>
    </div>
  </header>

 <div class="card-content">
    <div class="content">
    <img src='' style='height:100px'/>
    </div>
    <div class="post-footer">
     <br/> 
    <a href="/dashboard/review/{{post.property.id}}"><button class="button">review</button></a>
    <a href="/dashboard/delete/{{post.property.id}}"><button class="button">remove</button></a>  
    </div>
        
    </div>