<div class="column">
  <h2 class="title pb-4">Register Property</h2><hr />
  <form class="register-form">
    <div>
      <label for="address-register">no/street:</label>
      <input type="text" id="address-register" />
    </div>
     <div>
      <label for="suburb-register">suburb:</label>
      <input type="text" id="suburb-register" />
    </div>
    <div>
      <label for="city-register">city:</label>
      <input type="text" id="city-register" />
    </div>
    <div>
      <label for="postcode-register">postcode:</label>
      <input type="text" id="postcode-register" />
    </div>
    <div>
      <button type="submit" class="button">register</button>
     <a href="/" ><button class="button">cancel</button>
    </div>
  </form>
</div>

<script src="/js/register-property.js"></script>
