
<div style="position:relative">

{{#if savedProperties.length}}
    </div>

    {{#each savedProperties as |property|}}
        {{> favourites property}}
        </div>
    {{/each}}

{{else}}
<h3>you do not currently have any favorite properties</h3>

{{/if}}