    <div style="position:relative;height:60px">
         
        <label class="heading" style="margin-top:20px;margin-bottom:15px">My Saved Properties</label>
        <hr>
{{#if posts.length}}
    </div>

    {{#each posts as |post|}}
        {{> post-info post}}
        
            <a href="/dashboard/review/{{post.property.id}}"><button class="button">review</button></a>
            <a href="/dashboard/delete/{{post.property.id}}"><button class="button">remove</button></a>
        </div>
    {{/each}}

{{else}}
<h3>you do not currently have any saved properties</h3>

{{/if}}