<div class="column">
  <h2 class="title">Register Property</h2><hr />
  <form class="register-form">
    <div>
      <label for="address-register">No/Street:</label>
      <input type="text" id="address-register" />
    </div>
     <div>
      <label for="suburb-register">Suburb:</label>
      <input type="text" id="suburb-register" />
    </div>
    <div>
      <label for="city-register">City:</label>
      <input type="text" id="city-register" />
    </div>
    <div>
      <label for="postcode-register">Postcode:</label>
      <input type="text" id="postcode-register" />
    </div>
    <div>
      <button type="submit" class="button">Register</button>
     <a href="/" ><button class="button">Cancel</button>
    </div>
  </form>
</div>

<script src="/js/register-property.js"></script>