<div class="column">
  <h2 class="title pb-4">Search Properties</h2><hr />
  <form class="search-form">
    <div>
      <label for="radius-search">Radius (km):</label>
      <input
        type="number"
        id="radius-search"
        style="width: 100%; height:30px"
      />
    </div>
    <div style="margin-bottom: 18px;">
      <label for="event-search">Event:</label>
      <select
        id="event-search"
        style="width:150px;width: 100%; height:30px"
      ><option value="0">Choose Event</option><option value="1">Xmas Lights</option><option
          value="2"
        >Halloween</option><option value="3">Garage Sale</option></select>
    </div>
    <div>
      <button type="submit" class="button">search</button>
    </div>
  </form>
</div>

<script src="/js/search-properties.js"></script>