<div class="column">
  <h2 class="title pb-4">Search Properties</h2><hr />
  <form class="search-form">
    <div>
      <label for="radius-search">radius (km):</label>
      <input type="number" id="radius-search" />
    </div>
    <div>
      <button type="submit" class="button">search</button>
    </div>
  </form>
</div>

<script src="/js/search-properties.js"></script>