<div class="column">
  <h2 class="title pb-4">Search Properties</h2><hr />
  <form class="search-form">
    <div>
      <label for="radius-search">radius:</label>
      <input type="text" id="radius-search" />
    </div>
     <div>
      <label for="suburb-search">suburb:</label>
      <input type="text" id="suburb-search" />
    </div>
    <div>
      <label for="city-search">city:</label>
      <input type="text" id="city-search" />
    </div>
    <div>
      <button type="submit" class="button">search</button>
     <a href="/" ><button class="button">cancel</button>
    </div>
  </form>
</div>

<script src="/js/search-post.js"></script>